<!DOCTYPE html>
<html>
<head>
  <title>QuizOne</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
  <header>
<div class="col-xs-8 col-xs-offset-1 col-sm-offset-0 col-sm-5 links">
     <%= link_to 'Make a Profile', '#', :id => 'contribute_link', :data => {:toggle => 'modal', :target => '#myModal'} %>
     &nbsp;&nbsp;
    </div>
  </header>
  
<body>
 <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">What's your profile</h4>
        </div>
       <%= simple_form_for Profile.new do |f| %>
          <div class="modal-body">
            <%= f.input :name, :label => "Name", :placeholder => "Who Dat?" %>
            <br />
            <%= f.input :description, :label => "Description", :placeholder => "Who Der?" %>
            <br />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <%= f.submit 'Add Profile', :class => 'btn btn-danger' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

<%= yield %>

</body>
</html>
